<div class="container">
    <h3>hero name</h3>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input name="name" type="text" id="name" class="form-control" placeholder="Super Hero Name">
            <small id="nameHelp" class="form-text text-danger">warning.name</small>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input name="firstName" type="text" id="firstName" class="form-control" placeholder="First Name">
            <small id="firstNameHelper" class="form-text text-danger">warning.firstName</small>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input name="lastName" type="text" id="lastName" class="form-control" placeholder="Last Name">
            <small id="lastNameHelper" class="form-text text-danger">warning.lastName</small>
        </div>
        <div class="mb-3">
            <label for="place" class="form-label">Place</label>
            <input name="place" type="text" id="place" class="form-control" placeholder="Place">
            <small id="placeHelper" class="form-text text-danger">warning.place</small>
        </div>

        <button type="submit" class="btn btn-success">Create</button>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>
