<div *ngIf="hero" class="container">
    <h3>hero name</h3>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input [(ngModel)]="hero.name" name="name" type="text" id="name" class="form-control" placeholder="Super Hero Name">
            <small *ngIf="warning && warning.name" id="nameHelp" class="form-text text-danger">{{warning.name}}</small>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input [(ngModel)]="hero.firstName" name="firstName" type="text" id="firstName" class="form-control" placeholder="First Name">
            <small *ngIf="warning && warning.firstName" id="firstNameHelper" class="form-text text-danger">{{warning.firstName}}</small>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input [(ngModel)]="hero.lastName" name="lastName" type="text" id="lastName" class="form-control" placeholder="Last Name">
            <small *ngIf="warning && warning.lastName" id="lastNameHelper" class="form-text text-danger">{{warning.lastName}}</small>
        </div>
        <div class="mb-3">
            <label for="place" class="form-label">Place</label>
            <input [(ngModel)]="hero.place" name="place" type="text" id="place" class="form-control" placeholder="Place">
            <small *ngIf="warning && warning.place" id="placeHelper" class="form-text text-danger">{{warning.place}}</small>
        </div>

        <button
        *ngIf="!hero.id"
            type="submit"
            class="btn btn-success"
            (click)="createHero(hero)">
            Create
        </button>
        <button
            *ngIf="hero.id"
            type="submit"
            class="btn btn-primary"
            (click)="editHero(hero)">
            Edit
        </button>
    </form>
</div>
